<%= render partial: "partials/navbar" %>

<body class="user-dashboard">
  <div class="container">
    <div class="text-center"><%= link_to "Create New Entry", new_entry_path, class: "btn btn-default entry-btn" %></div>
    <table class="table table-bordered table-responsive table-hover entries-table">
    <thead>
      <tr>
        <th class="text-center" width="15%">DATE</th>
        <th class="text-center" width="17%">BREAKFAST</th>
        <th class="text-center" width="17%">LUNCH</th>
        <th class="text-center" width="17%">DINNER</th>
        <th class="text-center" width="17%">SNACKS</th>
        <th class="text-center" width="17%">TOTALS</th>
      </tr>
    </thead>
    <tbody>
      <% if current_user.entries.count == 0 %>
        <tr>
          <td class="text-center date-column"></td>
          <td class="text-center breakfast-column"><%= link_to "+", @entry, class: "btn btn-lg btn-success" %></td>
          <td class="text-center lunch-column"><%= link_to "+", @entry, class: "btn btn-lg btn-success" %></td>
          <td class="text-center dinner-column"><%= link_to "+", @entry, class: "btn btn-lg btn-success" %></td>
          <td class="text-center snack-column"><%= link_to "+", @entry, class: "btn btn-lg btn-success" %></td>
          <td class="text-center totals-column"></td>
        </tr>
      <% else %>
        <% current_user.entries.each do |entry| %>
          <tr>
            <td class="text-center date-column"><%= entry.date.strftime("%a %b %e, %Y") %></td>

            <% if entry.meal == "breakfast" %>
              <td class="text-center breakfast-column">Fat: <%= entry.fat %>g<br>Carbs: <%= entry.carbs %>g<br>Protein: <%= entry.protein %>g</td>
            <% else %>
              <td class="text-center breakfast-column"><%= link_to "+", @entry, class: "btn btn-lg btn-success add-entry-btn" %></td>
            <% end %>

            <% if entry.meal == "lunch" %>
              <td class="text-center lunch-column">Fat: <%= entry.fat %>g<br>Carbs: <%= entry.carbs %>g<br>Protein: <%= entry.protein %>g</td>
            <% else %>
              <td class="text-center lunch-column"><%= link_to "+", @entry, class: "btn btn-lg btn-success add-entry-btn" %></td>
            <% end %>

            <% if entry.meal == "dinner" %>
              <td class="text-center dinner-column">Fat: <%= entry.fat %>g<br>Carbs: <%= entry.carbs %>g<br>Protein: <%= entry.protein %>g</td>
            <% else %>
              <td class="text-center dinner-column"><%= link_to "+", @entry, class: "btn btn-lg btn-success add-entry-btn" %></td>
            <% end %>

            <% if entry.meal == "snack" %>
              <td class="text-center snack-column">Fat: <%= entry.fat %>g<br>Carbs: <%= entry.carbs %>g<br>Protein: <%= entry.protein %>g</td>
            <% else %>
              <td class="text-center snack-column"><%= link_to "+", @entry, class: "btn btn-lg btn-success add-entry-btn" %></td>
            <% end %>

            <td class="text-center totals-column"></td>
          </tr>
          <% end %>
      <% end %>
    </tbody>
  </table>

  </div>
</body>
