<%= render partial: "partials/navbar" %>

<body class="user-dashboard">
  <div class="container">
    <div class="text-center"><%= link_to "Create New Entry", new_entry_path, class: "btn btn-default entry-btn" %></div>
    <table class="table table-bordered table-responsive table-hover entries-table">
    <thead>
      <tr>
        <th class="text-center" width="15%">DATE</th>
        <th class="text-center" width="17%">BREAKFAST</th>
        <th class="text-center" width="17%">LUNCH</th>
        <th class="text-center" width="17%">DINNER</th>
        <th class="text-center" width="17%">SNACKS</th>
        <th class="text-center" width="17%">TOTALS</th>
      </tr>
    </thead>
    <tbody>
      <% if current_user.entries.count == 0 %>
        <tr>
          <td class="text-center date-column"></td>
          <td class="text-center breakfast-column"><%= link_to "+", @entry, class: "btn btn-lg btn-success" %></td>
          <td class="text-center lunch-column"><%= link_to "+", @entry, class: "btn btn-lg btn-success" %></td>
          <td class="text-center dinner-column"><%= link_to "+", @entry, class: "btn btn-lg btn-success" %></td>
          <td class="text-center snack-column"><%= link_to "+", @entry, class: "btn btn-lg btn-success" %></td>
          <td class="text-center totals-column"></td>
        </tr>
      <% else %>
        <% get_day_entries.each do |day_entry| %>
          <tr>
            <td class="text-center date-column"><%= day_entry.date.strftime("%a %b %e, %Y") %></td>

            <% if current_user.entries.where(date: day_entry.date).exists?(meal: "Breakfast") %>
              <td class="text-center breakfast-column">Fat: <%= day_breakfast(day_entry)[:fat] %>g<br>
                                                       Carbs: <%= day_breakfast(day_entry)[:carbs] %>g<br>
                                                       Protein: <%= day_breakfast(day_entry)[:protein] %>g</td>
            <% else %>
              <td class="text-center breakfast-column"><%= link_to "+", new_entry_path(date: day_entry.date, meal: "breakfast"), class: "btn btn-lg btn-success add-entry-btn" %></td>
            <% end %>

            <% if current_user.entries.where(date: day_entry.date).exists?(meal: "Lunch") %>
              <td class="text-center lunch-column">Fat: <%= day_lunch(day_entry)[:fat] %>g<br>
                                                   Carbs: <%= day_lunch(day_entry)[:carbs] %>g<br>
                                                   Protein: <%= day_lunch(day_entry)[:protein] %>g</td>
            <% else %>
              <td class="text-center lunch-column"><%= link_to "+", new_entry_path(date: day_entry.date, meal: "lunch"), class: "btn btn-lg btn-success add-entry-btn" %></td>
            <% end %>

            <% if current_user.entries.where(date: day_entry.date).exists?(meal: "Dinner") %>
              <td class="text-center dinner-column">Fat: <%= day_dinner(day_entry)[:fat] %>g<br>
                                                    Carbs: <%= day_dinner(day_entry)[:carbs] %>g<br>
                                                    Protein: <%= day_dinner(day_entry)[:protein] %>g</td>
            <% else %>
              <td class="text-center dinner-column"><%= link_to "+", new_entry_path(date: day_entry.date, meal: "dinner"), class: "btn btn-lg btn-success add-entry-btn" %></td>
            <% end %>

            <% if current_user.entries.where(date: day_entry.date).exists?(meal: "Snack") %>
              <td class="text-center snack-column">Fat: <%= day_snack(day_entry)[:fat] %>g<br>
                                                   Carbs: <%= day_snack(day_entry)[:carbs] %>g<br>
                                                   Protein: <%= day_snack(day_entry)[:protein] %>g</td>
            <% else %>
              <td class="text-center snack-column"><%= link_to "+", new_entry_path(date: day_entry.date, meal: "snack"), class: "btn btn-lg btn-success add-entry-btn" %></td>
            <% end %>

            <td class="text-center totals-column">Fat: <%= get_day_totals(day_entry)[:fat] %>g<br>
                                                  Carbs: <%= get_day_totals(day_entry)[:carbs] %>g<br>
                                                  Protein: <%= get_day_totals(day_entry)[:protein] %>g</td>
          </tr>
          <% end %>
      <% end %>
    </tbody>
  </table>

  </div>
</body>
