<div>
  <div class="grayscale">
    <%= image_tag "veggies.jpg", class: "veggie-pic" %>
    <p class="title-main">PaleoPal</p>
    <%= render partial: "partials/user_buttons", id: "upper-landing-login-btn" %>
    <%= render partial: "partials/tagline" %>
  </div><!-- End of upper section with image -->

  <div class="testimonials">
    <%= render partial: "partials/user_testimonials" %>
  </div><!-- End of testimonial section -->

  <div class="how-it-works grayscale">
    <%= image_tag "antique-table.jpg", class: "table-pic" %>
    <div class="container">
      <p class="how-header">How Does it Work?</p>
      <%= render partial: "partials/how_it_works" %>
      <%= render partial: "partials/screenshots" %>
      <%#= render partial: "partials/user_buttons", id: "lower-landing-login-btn" %>
    </div>
  </div><!-- End of how-it-works section -->
</div>
